<f:layout name="Standard"/>

<f:section name="Main">
    <div class="section weiß" id="fragen">
        <div class="container">
            <div class="item">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:11}"/>
            </div>

            <div class="item">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:12}"/>
            </div>
        </div>
        <div class="container center kontakt">
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:2}"/>
        </div>
    </div>
</f:section>