<f:layout name="Standard"/>

<f:section name="Main">
    <!-- Row 1: Leistungen -->
    <div class="section grau" id="leistungen">
        <div class="container wrap center">
            <div class="section wrap">
                <div class="item frame-box-shadow" id="einzelunterricht">
                    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:11}"/>

                </div>
                <div class="item frame-box-shadow" id="firmen">
                    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:12}"/>
                </div>

                <div class="item frame-box-shadow" id="nachhilfe">
                    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:13}"/>
                </div>
            </div>
            <div class="section wrap">
                <div class="item frame-box-shadow" id="ubersetzung">
                    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:14}"/>
                </div>
                <div class="item frame-box-shadow" id="">
                    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:15}"/>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 2: Über mich -->
    <div class="section weiß" id="ubermich">
        <div class="container center">
            <div class="item">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:21}"/>
                </picture>
            </div>
            <div class="item">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:22}"/>
                <a href="index.php?id=2" class="button">Mehr</a>
            </div>
        </div>
    </div>

    <!-- Row 3: Laufende Kurse -->
    <div class="section" id="kurse">
        <div class="container">
            <div class="item">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:3}"/>
            </div>
        </div>
    </div>

    <!-- Row 4: Referenzen -->
    <div class="section weiß" id="referenzen">
        <div class="container wrap">
            <div class="item">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:41}"/>
            </div>
            <div class="item">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:42}"/>
            </div>
        </div>
    </div>

    <!-- Row 5: Kontakt -->
    <div class="section grau" id="kontakt">
        <div class="container">
            <div class="item center">
                <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:5}"/>
            </div>
        </div>
    </div>
</f:section>


