<f:layout name="Standard"/>

<f:section name="Main">
    <div class="container" id="einleitung">
        <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:1}"/>
    </div>
    <div class="section grau">
    <div class="container" id="niveau">
        <div class="item">
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:21}"/>
        </div>
        <div class="item">
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:22}"/>
        </div>
        <div class="item">
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:23}"/>
        </div>
    </div>
    </div>
    <div class="container center" id="kurszeiten">
        <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:3}"/>
    </div>

    <div class="container" id="kursformen">
        <div class="item">
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:41}"/>
        </div>
        <div class="item">
            <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:42}"/>
        </div>
    </div>
    <div class="container center kontakt">
        <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:5}"/>
        <a href="index.php?id=16" class="button">Kontakt</a>
    </div>
</f:section>