<nav class="navbar">
    <div id="nav-links">
        <a class="navbar-brand" href="id=1">
        <img src="/fileadmin/user_upload/Graphics/Globus_Contacto-Espanol.jpg"
             class="d-inline-block align-top" alt="contacto español Globuslogo" role="figure">
        contacto español
    </a>
        <span class="navbar-text">
            Telefon  <b>+49 07951 2971565</b> <br>
            E-Mail  <b>info@contacto-espanol.de</b>
     </span>
    </div>
        <div class="" id="nav-main">
            <button type="button" class="menu-toggle" data-close="✖" data-open="☰" aria-expanded="false">☰</button>
            <f:cObject typoscriptObjectPath="lib.mainnav"/>
        </div>
</nav>
<!-- Banner -->
<div class="b-h-container" role="banner">
    <!-- Teasertext -->
    <f:cObject typoscriptObjectPath="lib.content.render" data="{colPos:0}"/>

</div>
