<div class="footer-div space-between center">

    <!-- Column 1: contacto espanol -->
    <div class="section" id="foot-cs">
        <div class="item">
            <img src="/fileadmin/user_upload/Graphics/Logo_Contacto_Espanol.svg"
                 class="" alt="contacto español" role="figure">
        </div>
        <div class="item">
            <p><b>contacto español</b> bietet verschiedene spanische Sprachdienstleiungen im Raum Schwäbisch Hall, Ansbach und Umgebung an.</p>

            <div class="icon" id="tele"></div> <b>+49 07951 2971565</b><br>
            <div class="icon" id="email"></div> <b><a href="mailto:info@contacto-espanol.de">info@contacto-espanol.de</a></b><br>
        <div class="" id="socialmedia">
            <a href="https://www.facebook.com/rmebert"><div class="icon" id="facebook"></div></a>
            <a href="https://de.linkedin.com/in/ruth-m-ebert-0a193220"><div class="icon" id="linkedin"></div></a>
            <a href="https://www.xing.com/profile/RuthM_EbertObando"><div class="icon" id="xing"></div></a>
        </div>
        </div>
    </div>

    <!-- Column 2: Foot-Nav -->
    <nav class="section" id="foot-nav">
        <div class="item">
            <f:cObject typoscriptObjectPath="lib.mainnav"/>
            <f:cObject typoscriptObjectPath="lib.metanav"/>
        </div>
        <div class="item">

        </div>
    </nav>

    <!-- Column 3: Disclaimer -->
    <div class="section" id="disclaimer">
        <div class="item">
            Icons zur Verfügung gestellt und entworfen von <a href="https://fontawesome.com/">Fontawesome</a> / <a href="https://creativecommons.org/licenses/by/4.0/">CC BY</a>.
        </div>
    </div>
</div>

<f:cObject typoscriptObjectPath="lib.copyright"/>
