.item {
    flex-grow: 1;
}

#einleitung {
    max-width: 750px;
}

#einleitung p {
    text-align: center;
}

#niveau .item {
    width: 33%;
}

#kursformen .item {
    width: 50%;
}

@media(max-width: 970px) {
    #kursformen {
        flex-wrap: wrap;
    }

    #niveau {
        flex-direction: column;
        align-items: center;
    }

    #niveau .item {
        min-width: 19.688rem;
    }

    #kursformen .item:nth-child(2) .frame:first-child {
        margin-top: 4rem;
    }
}

.kontakt {
    flex-direction: column;
}

a.button {
    width: auto;
}

